{% extends "base.html" %}

{% block body %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Wireless Termination Points</h1>
  <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Refresh</a>
</div>

<!-- Content Row -->
<div class="row">

  <!-- Online -->
  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Online</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">1</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-cubes fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Connected -->
  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Connected</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">1</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-cubes fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Disconnected -->
  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card border-left-danger shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Offline</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">1</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-cubes fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" cellspacing="0">
        <thead>
          <tr>
            <th>Address</th>
            <th>Description</th>
            <th>Last seen</th>
            <th>Address</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>00:0D:B9:2F:56:64</td>
            <td>PC Engines ALIX 2D</td>
            <td>2340</td>
            <td>192.168.1.10</td>
            <td class="text-center">
              <a href="#" class="btn btn-success btn-sm"><span class="text">Online</span></a>
            </td>
            <td class="text-center"><a href="" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm"><i class="fas fa-edit fa-sm text-white-50"></i>Edit</a>&nbsp;<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"><i class="fas fa-trash fa-sm text-white-50"></i>Remove</a></td>
          </tr>
          <tr>
            <td>00:0D:B9:2F:56:64</td>
            <td>PC Engines ALIX 2D</td>
            <td>2340</td>
            <td>192.168.1.10</td>
            <td class="text-center">
              <a href="#" class="btn btn-warning btn-sm"><span class="text">Connected</span></a>
            </td>
            <td class="text-center"><a href="" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm"><i class="fas fa-edit fa-sm text-white-50"></i>Edit</a>&nbsp;<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"><i class="fas fa-trash fa-sm text-white-50"></i>Remove</a></td>
          </tr>
          <tr>
            <td>00:0D:B9:2F:56:64</td>
            <td>PC Engines ALIX 2D</td>
            <td>-</td>
            <td>-</td>
            <td class="text-center">
              <a href="#" class="btn btn-danger btn-sm"><span class="text">Offline</span></a>
            </td>
            <td class="text-center"><a href="" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm"><i class="fas fa-edit fa-sm text-white-50"></i>Edit</a>&nbsp;<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"><i class="fas fa-trash fa-sm text-white-50"></i>Remove</a></td>
          </tr>
        </tbody>
      </table>

      {% if username=="root" %}
      <div class="d-sm-flex mb-4">
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Add</a>
      </div>
      {% end %}
    </div>
  </div>
</div>

{% end %}

{% block js %}
<script src="/static/js/empower-wtps.js"></script>
{% end %}
