.toolBox {
    width: 800px;
}

#cqm24 {
    margin:0 auto;
    width: 780px;
    height: 500px;
}

#cqm5 {
    margin:0 auto;
    width: 780px;
    height: 500px;
}

#im24 {
    margin:0 auto;
    width: 780px;
    height: 500px;
}

#im5 {
    margin:0 auto;
    width: 780px;
    height: 500px;
}
