.toolBox {
    width: 1200px;
}

#cqm24 {
    margin:0 auto;
    width: 1180px;
    height: 800px;
}

#cqm5 {
    margin:0 auto;
    width: 1180px;
    height: 800px;
}

#im24 {
    margin:0 auto;
    width: 1180px;
    height: 800px;
}

#im5 {
    margin:0 auto;
    width: 1180px;
    height: 800px;
}
