{% extends "base.html" %}

{% block js %}
  <script type="text/javascript">
    var BASE_AUTH = "Basic " + btoa("foo" + ':' + "foo");
    var tenant_id="{{tenant_id}}"
  </script>
{% end %}

{% block navigation %}{% end %}

{% block body %}
  <table class="dump-centered" width="100%">
    <tr>
        <td width="33%"><div id="lvap"></div><div id="wtps"></div></td>
        <td width="33%"><div id="next1"></div></td>
        <td width="33%"><div id="dupefilter"></div><div id="cpps"></div></td>
    </tr>
  </table>
  <br />
  <table class="dump-centered" width="100%">
    <th width="50%" align="center">DupeFilter Incoming Traffic</th>
    <th width="50%">DupeFilter Outgoing Traffic</th>
    <tr>
        <td><div id="incoming"></div></td>
        <td><div id="outgoing"></div></td>
    </tr>
  </table>
  <br />
  <table class="dump" width="100%" id="dupes">
    <th align="center">Station</th>
    <th align="center">Duplicates</th>
    <th align="center">Seq. Numbers</th>
  </table>
{% end %}
