<!DOCTYPE html>
<html>
<head>
  <title>Tropea: Virtual Network Functions Chaining</title>
  <link rel="stylesheet" type="text/css" href="/static/css/empower.css" />
  <link rel="stylesheet" type="text/css" href="/static/apps/tropea/vis.css" />
  <script type="text/javascript" src="/static/apps/tropea/vis.js" /></script>
  <script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="/static/js/empower.ui.lib.js"></script>
  <script type="text/javascript" src="/static/apps/tropea/tropea.lib.js" /></script>
{% block js %}{% end %}
</head>
<body>
  <div class="toolBox">
    {% block navigation %}{% end %}
    {% block body %}{% end %}
  </div>
</body>
</html>
