{% extends "base.html" %}

{% block js %}
  <script type="text/javascript">
    var BASE_AUTH = "Basic " + btoa("foo" + ':' + "foo");
    var tenant_id="{{tenant_id}}"
  </script>
{% end %}

{% block navigation %}{% end %}

{% block body %}
  <table class="dump-centered" width="100%">
    <tr>
        <td width="27%"><div id="lvap"></div><div id="wtps"></div></td>
        <td width="5%"><div  id="next_count"></div></td>
        <td width="27%"><div id="counter"></div><div id="cpps1"></div></td>
        <td widht="27%">
            <table>
                <tr>
                    <td width="5%"><div id="next_icmp"></div></td>
                    <td width="19%"><div id="todump_icmp"></div><div id="cpps2"></div></td>
                </tr>
                <tr>
                    <td width="5%"><div id="next_http"></div></td>
                    <td width="19%"><div id="todump_http"></div><div id="cpps3"></div></td>
                </tr>
            </table>
        </td>
    </tr>

  </table>
  <br />
  <table class="dump-centered" width="100%">
    <th width="33%" align="center">Counter Incoming Traffic</th>
    <th width="33%">ICMP Incoming Traffic</th>
    <th width="33%">HTTP Incoming Traffic</th>
    <tr>
        <td><div id="counterincoming"></div></td>
        <td><div id="icmpincoming"></div></td>
        <td><div id="httpincoming"></div></td>

    </tr>
  </table>
  <br />
{% end %}
