<!DOCTYPE html>
<html>
<head>
  <title>Channel Quality and Conflict Maps</title>
  <link rel="stylesheet" type="text/css" href="/static/css/empower.css" />
  <link rel="stylesheet" type="text/css" href="/static/apps/conflictgraph/conflictgraph.css" />
  <script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="/static/js/empower.ui.lib.js"></script>
  <script type="text/javascript" src="/static/apps/conflictgraph/vis.js" /></script>
  <script type="text/javascript" src="/static/apps/conflictgraph/conflictgraph.lib.js" /></script>
{% block js %}{% end %}
</head>
<body onLoad="initialize()" onRefresh="initialize()">
  <div class="toolBox">
    {% block navigation %}{% end %}
    {% block body %}{% end %}
  </div>
</body>
</html>
