.toolBox {
    width: 1200px;
}

.charts {
    width: 50%;
    margin: 0px auto;
}

td {
    font-family: sans;
    font-size: 10pt;
    text-align: center
}

table {
    width: 100%;
    font-family: sans;
    font-size: 10pt;
    text-align: center
}