{% extends "base.html" %}

{% block body %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Catalog</h1>
  <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" onclick="refresh_catalog()"><i class="fas fa-undo fa-sm text-white-50"></i> Refresh</a>
</div>

<!-- Content Row -->
<div class="row" id="catalog">
</div>

{% end %}

{% block js %}
<script src="/static/js/pages/empower-acatalog.js"></script>
{% end %}
