{% extends "base.html" %}

{% block body %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Catalog</h1>
  <!-- <a href="#" class="btn btn-sm btn-primary shadow-sm" onclick="show_application_catalog()"><i class="fas fa-undo fa-sm text-white-50"></i> Refresh</a> -->
  <a href="#" class="btn btn-sm btn-primary shadow-sm" onclick="refresh_application_catalog()"><i class="fas fa-undo fa-sm text-white-50"></i> Refresh</a>
</div>

<!-- Alert Box -->
<div id="alert_box" class="my-2 p-2">
</div>

<!-- Content Row -->
<div class="row" id="application_box">
</div>

<!-- Modal Box -->
<div id="modal_box" class="my-2 p-2">
  <div class="modal fade" id="application_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal Title</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <a href="#" data-dismiss="modal" class="btn btn-sm btn-secondary shadow-sm"><i class="fas fa-sm text-white-50"></i>Cancel</a>
          <!-- <button onclick="edit()" id="edit_ACCOUNT_button" data-toggle="modal" data-target="#edit_ACCOUNT_Modal" class="btn btn-sm btn-primary shadow-sm"><i class="fas fa-sm text-white-50"></i>Edit</button> -->
          <!-- <a href="#" onclick="edit()" data-toggle="modal" class="btn btn-sm btn-primary shadow-sm"><i class="fas fa-sm text-white-50"></i>Add</a> -->
        </div>
      </div>
    </div>
  </div>
</div>

{% end %}

{% block js %}
<script src="/static/js/pages/empower-acatalog.js"></script>
{% end %}
