{% extends "base.html" %}

{% block body %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Projects</h1>
  <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Refresh</a>
</div>

<!-- Content Row -->
<div class="row">

  <!-- Projects Card -->
  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">52313ecb-9d00-4b7d-b873-b55d3d9ada26</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">Wi-Fi Guest</div>
          </div>
          <div class="col-auto">
            <a href="/auth/switch_project" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"><i class="fas fa-trash fa-sm text-white-50"></i>&nbsp; Remove</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Projects Card -->
  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">52313ecb-9d00-4b7d-b873-b55d3d9ada26</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">Wi-Fi Corporate</div>
          </div>
          <div class="col-auto">
            <a href="/auth/switch_project?project_id=52313ecb-9d00-4b7d-b873-b55d3d9ada26" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-flag fa-sm text-white-50"></i>&nbsp;Select</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% if username=="root" %}
<div class="d-sm-flex mb-4">
  <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> New Project</a>
</div>
{% end %}

{% end %}
