{% extends "base.html" %}

{% block body %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">User Profile</h1>
  <button class="btn btn-sm btn-warning shadow-sm mr-1 mb-1 text-light" onclick="trigger_edit_modal('{{username}}')"><i class="fas fa-edit fa-sm text-white-50 mr-1"></i>Edit</button>
</div>

<!-- Alert Box -->
<div id="alert_box" class="my-2 p-2">
</div>

<!-- Details -->
<div class="row">
  <div class="col-lg-12 mb-4">
    <div class="card shadow mb-0">
      <div class="card-header py-3">
        <div class="d-sm-flex align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Details</h4>
        </div>
      </div>
      <div class="card-body">
        <p><b>Username:</b> {{username}}</p>
        <p><b>Name:</b> {{name}}</p>
        <p><b>E-Mail:</b> {{email}}</p>
      </div>
    </div>
  </div>
</div>

<!-- Edit ACCOUNT Modal-->
<div class="modal fade" id="edit_ACCOUNT_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit ACCOUNT</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label>Username</label>
            <input id="edit_username" class="form-control" disabled>
          </div>
          <div class="form-group">
            <label>Name</label>
            <input id="edit_name" class="form-control">
          </div>
          <div class="form-group">
            <label>E-Mail</label>
            <input id="edit_email" class="form-control">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input id="edit_password" class="form-control" placeholder="Enter your password (Optional)">
          </div>
          <div class="form-group">
            <label>Password (Confirm)</label>
            <input id="edit_password_confirm" class="form-control" placeholder="Same as password">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn btn-sm btn-secondary shadow-sm"><i class="fas fa-sm text-white-50"></i>Cancel</a>
        <button onclick="edit()" id="edit_ACCOUNT_button" data-toggle="modal" data-target="#edit_ACCOUNT_Modal" class="btn btn-sm btn-primary shadow-sm"><i class="fas fa-sm text-white-50"></i>Edit</button>
        <!-- <a href="#" onclick="edit()" data-toggle="modal" class="btn btn-sm btn-primary shadow-sm"><i class="fas fa-sm text-white-50"></i>Add</a> -->
      </div>
    </div>
  </div>
</div>

{% end %}

{% block js %}
<script src="/static/js/pages/empower-profile.js"></script>
{% end %}
