{% extends "base.html" %}

{% block body %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">{{project.desc}}</h1>
  <button onclick="refresh_all()" class="btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Refresh</button>
  <!-- <button data-toggle="modal" data-target="#add_WIFI_SLICE_Modal" class="btn btn-sm btn-info shadow-sm"><i class="fas fa-vial fa-sm text-white-50"></i> TEST (2bREMOVED)</button> -->
</div>

<!-- Alert Box -->
<div id="alert_box" class="my-2 p-2">
</div>

<!-- Content Row -->
<div class="row">

  <!-- ACLs -->
  <div class="d-none col-xl-4 col-md-6 mb-4" id="acls_card">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">ACLs</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800" id="acls_value"></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-lock fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- WIFI Slices Card -->
  <div class="d-none col-xl-4 col-md-6 mb-4" id="wifi_slices_card">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">WiFi Slices</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800" id="wifi_slices_value"></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-align-justify fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- LTE Slices Card -->
  <div class="d-none col-xl-4 col-md-6 mb-4" id="lte_slices_card">
    <div class="card border-left-danger shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">LTE Slices</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800" id="lte_slices_value"></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-align-justify fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-lg-12 mb-4">
    <div class="card shadow mb-0">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Properties</h6>
      </div>
      <div class="card-body" id="properties_body">
        <!-- <p><b>Project Id:</b> {{project.project_id}}</p>
        <p><b>SSID:</b> EmPOWER Guests</p>
        <p><b>Shared SSID:</b> No</p>
        <p><b>PLMNID (MCC/MNC):</b> 101/01</p> -->
      </div>
    </div>
  </div>
</div>

<div class="d-none card shadow mb-4" id="acls_box">
  <div class="card-header py-3">
    <div class="d-sm-flex align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Access Control List</h6>
      <div>
        <button data-toggle="modal" data-target="#add_ACL_Modal" class="btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Add Station</button>
        <button data-toggle="modal" data-target="#remove_ALL_ACLs_Modal" class="btn btn-sm btn-danger shadow-sm"><i class="fas fa-trash fa-sm text-white-50"></i> Remove All Stations</button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable_ACLS" cellspacing="0">
      </table>
    </div>
  </div>
</div>

<!-- <table class="table table-bordered" id="dataTable" cellspacing="0">
  </table>
</div>
</div>
</div> -->

<!-- Add ACL Modal-->
<div class="modal fade" id="add_ACL_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add ACL Station</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label>Address</label>
            <input id="add_address" class="form-control">
          </div>
          <div class="form-group">
            <label>Description</label>
            <input id="add_desc" class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn btn-sm btn-secondary shadow-sm"><i
            class="fas fa-sm text-white-50"></i>Cancel</a>
        <a href="#" onclick="add_ACL()" data-toggle="modal" data-target="#add_ACL_Modal"
          class="btn btn-sm btn-primary shadow-sm"><i class="fas fa-sm text-white-50"></i>Add</a>
      </div>
    </div>
  </div>
</div>

<!-- Edit ACL Modal-->
<div class="modal fade" id="edit_ACL_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit ACL Station</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label>Address</label>
            <input id="edit_address" class="form-control" disabled>
          </div>
          <div class="form-group">
            <label>Description</label>
            <input id="edit_desc" class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn btn-sm btn-secondary shadow-sm"><i
            class="fas fa-sm text-white-50"></i>Cancel</a>
        <a href="#" onclick="edit_ACL()" data-toggle="modal" data-target="#edit_ACL_Modal"
          class="btn btn-sm btn-warning shadow-sm"><i class="fas fa-sm text-white-50"></i>Edit</a>
      </div>
    </div>
  </div>
</div>

<!-- Remove ACL Modal-->
<div class="modal fade" id="remove_ACL_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Remove ACL Station</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label>Address</label>
            <input id="remove_address" class="form-control" disabled>
          </div>
          <div class="form-group">
            <label>Description</label>
            <input id="remove_desc" class="form-control" disabled>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn btn-sm btn-secondary shadow-sm"><i
            class="fas fa-sm text-white-50"></i>Cancel</a>
        <a href="#" onclick="remove_ACL()" data-toggle="modal" data-target="#remove_ACL_Modal"
          class="btn btn-sm btn-danger shadow-sm"><i class="fas fa-sm text-white-50"></i>Remove</a>
      </div>
    </div>
  </div>
</div>

<!-- Remove ACL Modal-->
<div class="modal fade" id="remove_ALL_ACLs_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="exampleModalLabel" >Remove All ACL Stations</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center pb-3">
          <i class="fas fa-exclamation-triangle fa-3x text-danger"></i>
          <i class="fas fa-exclamation-triangle fa-3x text-danger"></i>
          <i class="fas fa-exclamation-triangle fa-3x text-danger"></i>
        </div>
        <div class="h5 text-center text-danger">Do you really want to </div>
        <div class="h4 text-center text-danger font-weight-bold">REMOVE All ACL Stations?</div>
        <div class="h6 text-center text-danger font-italic">this action cannot be undone</div>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn btn-sm btn-secondary shadow-sm"><i
            class="fas fa-sm text-white-50"></i>Cancel</a>
        <a href="#" onclick="remove_ALL_ACLs()" data-toggle="modal" data-target="#remove_ALL_ACLs_Modal"
          class="btn btn-sm btn-danger shadow-sm"><i class="fas fa-trash fa-sm text-white-50 mr-1"></i>Remove</a>
      </div>
    </div>
  </div>
</div>

<div class="d-none card shadow mb-4" id="wifi_slices_box">
  <div class="card-header py-3">
    <div class="d-sm-flex align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">WiFi Slices</h6>
      <div>
        <!-- <button data-toggle="modal" data-target="#add_WIFI_SLICEs_Modal" class="btn btn-sm btn-primary shadow-sm" onclick="not_yet_implemented('createWiFiSlice')"><i class="fas fa-plus fa-sm text-white-50"></i> Create WiFi Slice</button> -->
        <button class="btn btn-sm btn-primary shadow-sm" onclick="trigger_mng_slice_modal('CREATE','WIFI')"><i class="fas fa-plus fa-sm text-white-50"></i> Create WiFi Slice</button>
        <button data-toggle="modal" data-target="#remove_WIFI_SLICEs_Modal" class="btn btn-sm btn-danger shadow-sm" onclick="not_yet_implemented('removeAllWiFiSlices')"><i class="fas fa-trash fa-sm text-white-50"></i> Remove All WiFi Slices</button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable_WIFI_SLICES" cellspacing="0">
      </table>
    </div>
  </div>
</div>

<div class="d-none card shadow mb-4" id="lte_slices_box">
  <div class="card-header py-3">
    <div class="d-sm-flex align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">LTE Slices</h6>
      <div>
        <button class="btn btn-sm btn-primary shadow-sm" onclick="trigger_mng_slice_modal('CREATE','LTE')"><i class="fas fa-plus fa-sm text-white-50"></i> Create LTE Slice</button>
        <button data-toggle="modal" data-target="#remove_LTE_SLICEs_Modal" class="btn btn-sm btn-danger shadow-sm" onclick="not_yet_implemented('removeAllLTESlices')"><i class="fas fa-trash fa-sm text-white-50"></i> Remove All LTE Slices</button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable_LTE_SLICES" cellspacing="0">
      </table>
    </div>
  </div>
</div>

<!-- MANAGE SLICE Modal-->
<div class="modal fade" id="MNG_SLICE_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="MNG_SLICE_Modal_title" >Manage SLICE</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group row pr-2">
            <label class="col-4 my-auto"><b>Slice ID</b></label>
            <!-- <input class="form-control col-7" id="mng_slice_id" placeholder="Insert Slice ID here [integer]"> -->
            <select class="form-control col-7" id="mng_slice_id"></select>
          </div>
          <div class="form-group pr-2">
            <div class="my-4 "><b>Properties (DEFAULT)</b></div>
            <div id="mng_wifi_default_props">
              <div class="form-group row pr-2">
                <label class="col-4 my-auto pl-4 font-italic text-right pr-4">
                  <i class="fas fa-hourglass fa-1x fa-fw d-none"></i>
                  <span>Quantum</span>
                </label>
                <input class="form-control col-6" id="mng_quantum" onchange="update_quantum_on_cascade()">
              </div>
              <div class="form-group row pr-2">
                <label class="col-4 my-auto pl-4 font-italic text-right pr-4">
                  <i class="fas fa-clipboard-list fa-x1 fa-fw d-none"></i>
                  <span>STA Scheduler</span></label>
                <select class="form-control col-6" id="mng_sta_scheduler" onchange="update_sta_scheduler_on_cascade()">
                </select>
              </div>
              <div class="form-group row pr-2">
                <label class="col-4 my-auto pl-4 font-italic text-right pr-4">
                  <i class="far fa-plus-square fa-x1 fa-fw d-none"></i>
                  <span>A-MSDU Aggregation</span></label>
                <div class="custom-control custom-switch col-6">
                  <input type="checkbox" class="custom-control-input" id="mng_amsdu_aggregation" onchange="update_amsdu_aggregation_on_cascade()">
                  <label class="custom-control-label" for="mng_amsdu_aggregation"></label>
                </div>
              </div>
            </div>
            <div id="mng_lte_default_props">
              <div class="form-group row pr-2">
                <label class="col-4 my-auto pl-4 font-italic text-right pr-4">
                  <i class="fas fa-hourglass fa-1x fa-fw d-none"></i>
                  <span>RBGS</span>
                </label>
                <input class="form-control col-6" id="mng_rbgs" onchange="update_rbgs_on_cascade()">
              </div>
              <div class="form-group row pr-2">
                <label class="col-4 my-auto pl-4 font-italic text-right pr-4">
                  <i class="fas fa-clipboard-list fa-x1 fa-fw d-none"></i>
                  <span>UE Scheduler</span></label>
                <select class="form-control col-6" id="mng_ue_scheduler" onchange="update_ue_scheduler_on_cascade()">
                </select>
              </div>
            </div>
          </div>
          
          <div class="form-group pr-2">
            <!-- <div class="mt-4 mb-1 " id="mng_table_title"><b>Associate Devices</b></div> -->
            <div class="my-4" id="mng_table_title"><b>Associate Devices</b></div>
            <!-- <div class="text-xs text-gray-500 mb-3">NB: Change in one of the DEFAULT properties will be mirrored in cascade ONLY to those selected devices sharing the PREVIOUS DEFAULT value</div> -->
            <div class="form-group px-2">
          
          
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable_MNG_WIFI_SLICE_Modal" cellspacing="0">
                </table>
              </div>
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable_MNG_LTE_SLICE_Modal" cellspacing="0">
                </table>
              </div>
            </div>
          
          
          </div>
          </form>
      </div>
      <div class="modal-footer">
        <button  data-dismiss="modal" class="btn btn-sm btn-secondary shadow-sm"><i
          class="fas fa-sm text-white-50"></i>Cancel</button>
        <button href="#" onclick="mng_WIFI_SLICE('CREATE')" data-toggle="modal" data-target="#MNG_SLICE_Modal"
          class="btn btn-sm btn-primary shadow-sm" id="mng_wifi_slc_create_btn"><i class="fas fa-plus fa-sm text-white-50 mr-1" ></i>Create</button>
        <button href="#" onclick="mng_WIFI_SLICE('EDIT')" data-toggle="modal" data-target="#MNG_SLICE_Modal"
          class="btn btn-sm btn-warning shadow-sm" id="mng_wifi_slc_edit_btn"><i class="fas fa-edit fa-sm text-white-50 mr-1" ></i>Edit</button>
        <button href="#" onclick="mng_WIFI_SLICE('DELETE')" data-toggle="modal" data-target="#MNG_SLICE_Modal"
          class="btn btn-sm btn-danger shadow-sm" id="mng_wifi_slc_delete_btn"><i class="fas fa-trash fa-sm text-white-50 mr-1"></i>Delete</button>
        <button href="#" onclick="mng_LTE_SLICE('CREATE')" data-toggle="modal" data-target="#MNG_SLICE_Modal"
          class="btn btn-sm btn-primary shadow-sm" id="mng_lte_slc_create_btn"><i class="fas fa-plus fa-sm text-white-50 mr-1" ></i>Create</button>
        <button href="#" onclick="mng_LTE_SLICE('EDIT')" data-toggle="modal" data-target="#MNG_SLICE_Modal"
          class="btn btn-sm btn-warning shadow-sm" id="mng_lte_slc_edit_btn"><i class="fas fa-edit fa-sm text-white-50 mr-1" ></i>Edit</button>
        <button href="#" onclick="mng_LTE_SLICE('DELETE')" data-toggle="modal" data-target="#MNG_SLICE_Modal"
          class="btn btn-sm btn-danger shadow-sm" id="mng_lte_slc_delete_btn"><i class="fas fa-trash fa-sm text-white-50 mr-1"></i>Delete</button>
      </div>
    </div>
  </div>
</div>
{% end %}

{% block js %}
<script src="/static/js/pages/empower-project.js"></script>
{% end %}
