<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Signal Strength Visualization App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link type="text/css" href="/static/css/c3.css" rel="stylesheet" />
    <link type="text/css" href="/static/css/bootstrap.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="/static/css/empower.css" />
    <link rel="stylesheet" type="text/css" href="/static/apps/signalgraph/signalgraph.css" />

    <script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <!-- <script src="https://d3js.org/d3.v4.js"></script> -->
    <script type="text/javascript" src="/static/js/d3.js"></script>
    <script type="text/javascript" src="/static/js/c3.js"></script>

    <script type="text/javascript" src="/static/js/empower.ui.lib.js"></script>
    <script type="text/javascript" src="/static/apps/signalgraph/signalgraph.lib.js"></script>

    <script type="text/javascript">
      var tenant_id = "{{tenant_id}}"
    </script>
  </head>

  <body>

    <div class="toolBox">

      <div class="container">

        <div class="jumbotron appHeader">
          <h1>Signal Strength Visualization</h1>
        </div>

        <div class="row" id="mainRow">

          <div class="col-xs-9 col-sm-6 boxshadow" id="graphCol">

            <div class="row" id="graphRow">

            </div>

          </div>

          <div class="col-xs-9 col-sm-6 boxshadow" id="chartCol">

            <div class="row boxshadow" id="statsRadioRow">

              <div class="btn-group" data-toggle="buttons" id="statsType">
                <label class="btn btn-primary active">
                  <input type="radio" name="statRadio" autocomplete="off" value="rsrp" checked> RSRP (preselected)
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="statRadio" autocomplete="off" value="rsrq"> RSRQ
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="statRadio" autocomplete="off" value="rssi"> RSSI (Wifi)
                </label>
              </div>

            </div>

            <div class="row boxshadow" id="ueSelectBoxRow">

              <div class="col-xs-6 col-sm-4" id="divLabel">
                <label for="ueSelect">Select UE:</label>
              </div>

              <div class="col-xs-12 col-sm-8">
                <select class="form-control" data-width="auto" id="ueSelect">
                  <option selected value> --- Select an option --- </option>
                </select>
              </div>

            </div>

            <div class="row" id="chartRow">

            </div>

          </div>

        </div>

      </div>

    </div>

  </body>
</html>
