{% extends "base.html" %}

{% block js %}

  <script type="text/javascript" src="/static/js/empower.ui.lib.js"></script>

  <script type="text/javascript">

  var BASE_AUTH = "Basic " + btoa("{{username}}" + ':' + "{{password}}");
  var tenant_id = "{{tenant.tenant_id}}"

  function initialize() {
      initTab()
      runLoader(loadComponents, '{{tenant.tenant_id}}')
      runLoader(loadCPPs, '{{tenant.tenant_id}}')
      runLoader(loadWTPs, '{{tenant.tenant_id}}')
      runLoader(loadLVNFs, '{{tenant.tenant_id}}')
      lvapsInterval = runLoader(loadLVAPs, '{{tenant.tenant_id}}')
      runLoader(loadVBSes, '{{tenant.tenant_id}}')
      runLoader(loadUEs, '{{tenant.tenant_id}}')
  }

  </script>

{% end %}

{% block navigation %}
<div style="width: 1000px; margin-left: auto; margin-right: auto">
  <div class="tabs segmentedControlBase">
    <div class="button segmentedControl leftEnd tab"><span>Details: {{ tenant.tenant_name }}</span></div>
    <div class="button segmentedControl tab"><span>Components</span></div>
    <div class="button segmentedControl tab"><span>LVAPs</span></div>
    <div class="button segmentedControl tab"><span>LVNFs</span></div>
    <div class="button segmentedControl tab"><span>CPPs</span></div>
    <div class="button segmentedControl tab"><span>VBSes</span></div>
    <div class="button segmentedControl tab"><span>UEs</span></div>
    <div class="button segmentedControl rightEnd tab"><span>WTPs</span></div>
  </div>
</div>
{% end %}

{% block body %}

  <div class="tabPanels">

    <div class="tabPanel">

      <h1>Tenant details</h1>

      <table class="dump">
        <tr>
          <th width="350px">UUID</th>
          <th width="350px">Description</th>
          <th width="100px">PLMN ID</th>
        </tr>
        <tr>
          <td>{{ tenant.tenant_id }}</td>
          <td>{{ tenant.desc }}</td>
          <td>{{ tenant.plmn_id }}</td>
        </tr>
      </table>

    </div>

        <div class="tabPanel">

          <h1>Components</h1>

          <p>From this page you can load tenant specific modules. Notice that you do not need to specify the tenant id. For example to load the mobilitymanager module you must use 'apps.mobilitymanager.mobilitymanager'.<p>

          <table id="components" class="dump">
            <tr>
              <th>Components</th>
              <th>Ctrl</th>
            </tr>
            <tr>
              <td colspan="3" align="right"><a onClick="return addComponent('{{ tenant.tenant_id }}')"><img class="ctrl" src="/static/images/add.png" /></a></td>
            </tr>
          </table>

        </div>

    <div class="tabPanel">

          <h1>Light Virtual Access Points</h1>

          <table id="lvaps" class="dump">
            <tr>
              <th width="150px">Station</th>
              <th width="150px">SSID</th>
              <th width="150px">BSSID (Network)</th>
              <th width="150px">BSSID (LVAP)</th>
              <th width="240px" colspan="2">WTP</th>
            </tr>
          </table>

    </div>

    <div class="tabPanel">

      <h1>Light Virtual Network Functions</h1>

      <table id="lvnfs" class="dump">
        <tr>
          <th width="350px">UUID</th>
          <th width="400px">Image</th>
          <th width="100px">Status</th>
          <th width="100px" colspan="2">CPP</th>
        </tr>
      </table>

    </div>

    <div class="tabPanel">

      <h1>Click Packet Processors</h1>

      <table id="cpps" width="650px" class="dump">
        <tr>
          <td colspan="3" align="right"><a onClick="return selectCPP()"><img class="ctrl" src="/static/images/add.png" /></a></td>
        </tr>
      </table>

    </div>

    <div class="tabPanel">

      <h1>Virtual Basestation Points</h1>

      <table id="vbses" width="650px" class="dump">
        <tr>
          <td colspan="3" align="right"><a onClick="return selectVBS()"><img class="ctrl" src="/static/images/add.png" /></a></td>
        </tr>
      </table>

    </div>

    <div class="tabPanel">

      <h1>User Equipments</h1>

      <table id="ues" class="dump">
        <tr>
          <th width="150px">VBS</th>
          <th width="150px">IMSI</th>
          <th width="150px">PLMN ID</th>
          <th width="150px">RNTI</th>
        </tr>
      </table>

    </div>

    <div class="tabPanel">

      <h1>Wireless Termination Points</h1>

      <table id="wtps" width="650px" class="dump">
        <tr>
          <td colspan="3" align="right"><a onClick="return selectWTP()"><img class="ctrl" src="/static/images/add.png" /></a></td>
        </tr>
      </table>

    </div>

    </div>

{% end %}
