{% extends "base.html" %}

{% block js %}

  <script type="text/javascript" src="/static/js/empower.ui.lib.js"></script>

  <script type="text/javascript">

  var BASE_AUTH = "Basic " + btoa("{{username}}" + ':' + "{{password}}");
  var tenant_id = "{{tenant.tenant_id}}"

  function initialize() {
      initTab()
      runLoader(loadCPPs, '{{tenant.tenant_id}}')
      runLoader(loadWTPs, '{{tenant.tenant_id}}')
  }

  </script>

{% end %}

{% block navigation %}
<div style="width: 1000px; margin-left: auto; margin-right: auto">
  <div class="tabs segmentedControlBase">
    <div class="button segmentedControl leftEnd tab"><span>Details: {{ tenant.tenant_name }}</span></div>
    <div class="button segmentedControl tab"><span>CPPs</span></div>
    <div class="button segmentedControl rightEnd tab"><span>WTPs</span></div>
  </div>
</div>
{% end %}

{% block body %}

  <div class="tabPanels">

    <div class="tabPanel">

      <h1>Tenant details</h1>

      <table class="dump">
        <tr>
          <th width="350px">UUID</th>
          <th width="350px">Description</th>
        </tr>
        <tr>
          <td>{{ tenant.tenant_id }}</td>
          <td>{{ tenant.desc }}</td>
        </tr>
      </table>

    </div>

    <div class="tabPanel">

      <h1>Click Packet Processors</h1>

      <table id="cpps" width="450px" class="dump">
        <tr>
          <td colspan="3" align="right"><a onClick="return selectCPP()"><img class="ctrl" src="/static/images/add.png" /></a></td>
        </tr>
      </table>

    </div>

    <div class="tabPanel">

      <h1>Wireless Termination Points</h1>

      <table id="wtps" width="450px" class="dump">
        <tr>
          <td colspan="3" align="right"><a onClick="return selectWTP()"><img class="ctrl" src="/static/images/add.png" /></a></td>
        </tr>
      </table>

    </div>

    </div>

{% end %}
