{% extends "base.html" %}

{% block js %}

  <script type="text/javascript" src="/static/js/empower.ui.lib.js"></script>

  <script type="text/javascript">

    var BASE_AUTH = "Basic " + btoa("{{username}}" + ':' + "{{password}}");

    function initialize() {
    }

  </script>
{% end %}

{% block navigation %}{% end %}

{% block body %}

  <h1>Request new Tenant</h1>
  <table width="600px" class="dump" style="margin: 0 auto;">
    <tr>
      <th>Network name:</th>
      <td><input autocapitalize="off" autocorrect="off" class="text-input" id="tenant_name" name="tenant_name" tabindex="2" type="text" size="30" /></td>
    </tr>
    <tr>
      <th>Description:</th>
      <td><input autocapitalize="off" autocorrect="off" class="text-input" id="desc" name="desc" tabindex="2" type="text" size="30" /></td>
    </tr>
    <tr>
      <th>BSSID Type:</th>
        <td>
     <div class="radio">
       <label><input type="radio" id="unique" name="bssid_type" value="unique" checked="checked">Unique</label>
     <label><input type="radio" id="shared" name="bssid_type" value="shared">Shared</label>
     </div>
   </td>
    </tr>
    <tr>
      <th>PLMN ID:</th>
      <td>
        <input class="text-input" id="plmn_id" name="plmn_id" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="6" tabindex="2" type="text" size="30" />
      </td>
    </tr>
  </table>
  <br />
  <table width="400px" style="margin: 0 auto; border: 0">
    <tr>
      <th>
        <input type="submit" value="Request Tenant" tabindex="3" style="width: 100%" onClick="requestTenant()" />
      </th>
    </tr>
  </table>

{% end %}
