#mainRow {
	margin: auto;
	height: 800px;
}

#vbsSelectBoxRow {
	margin: auto;
	height: 55px;
	margin-bottom: 10px;
}

#statsRadioRow {
	text-align: center;
	margin: auto;
	height: 55px;
	margin-bottom: 10px;
}

#divLabel {
	margin: auto;
	padding-top: 7px;
	text-align: center;
}

.jumbotron {
	padding-bottom: 20px;
	padding-top: 20px;
	margin-bottom: 15px;
}

.boxshadow {
	position: relative;
	-moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
	-webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	padding: 10px;
	background: white;
}

#graphCol {
	margin: auto;
	height: 770px;
}

#chartCol {
	margin: auto;
	height: 770px;
}

.d3-tip {
	line-height: 1;
	font-weight: bold;
	padding: 12px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
	content: "\25BC";
	position: absolute;
	text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
	margin: -1px 0 0 0;
	top: 100%;
	left: 0;
}

#graphRow {
	margin: auto;
}

#chartRow {
	height: 630px;
	margin: auto;
}

#ueSelectBoxRow {
	margin: auto;
	height: 50px;
	margin-bottom: 10px;
}

svg.nw_graph {
	background-color: #FFF;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/*svg:not(.active):not(.ctrl) {
	cursor: crosshair;
}*/

path.link {
	fill: none;
	stroke: #000;
	cursor: pointer;
}

/*svg:not(.active):not(.ctrl) path.link {
	cursor: pointer;
}*/

path.link.neigh_cell {
	stroke-dasharray: 10,2;
}

text.node_id {
	font: 12px sans-serif;
	pointer-events: none;
	text-anchor: middle;
	font-weight: bold;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 2px;
    font: 12px sans-serif;
    font-weight: bold;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
  /*  pointer-events: none;    This line needs to be removed */
}

div.tooltip > p {
	font: 12px sans-serif;
	font-weight: bold;
}
